.exp_body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.exp_task {
  margin-left: 20px;
  border-bottom: 1px solid #cdd5e1;
  padding: 0%;
}
.exp_task_head h5 {
  color: #6c6c6c;
}

.exp_bottom h5 {
  font-size: small;
  color: #6c6c6c;
}

.exp_bottom p {
  font-size: small;
  color: #6c6c6c;
  position: relative;
  left: 50px;
  top: 10px;
}
.exp_btn_sec button {
  border: 1.3px solid #d9dfe8;
  background-color: transparent;
  font-size: x-small;
  padding: 2px 5px;
  color: #6c6c6c;
  float: right;
  position: relative;
  top: 1px;
  left: -105px;
  margin-left: 10px;
  border-radius: 3px;
}

.exp_btn_sec {
  position: relative;
  top: -49px;
  margin-left: 30px;
}
.exp_btn_sec .btn {
  border: none;
  color: #80c3fa;
  position: relative;
  left: -4px;
}
.exp_btn_sec .btn1 {
  position: relative;
  left: -75px;
}
.exp_btn_sec .btn2 {
  position: relative;
  top: 23px;
  left: -55px;
}

.exp_btn_sec small {
  border: none;
  position: relative;
  top: 20px;
  left: 50px;
  color: #6a6a6b;
  font-size: x-small;
  font-weight: bold;
}

.exp_btn .arrow {
  position: relative;
  top: 2px;
  color: #80c3fa;
}

.exp_btn_sec button:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.1);
}

.exp_bank_task_head {
  display: flex;
  justify-content: space-between;
}
