.dashboard_bottom {
  margin: 0px 40px;
  display: flex;
  justify-content: space-between;
  width: 700px;
  border-bottom: 1px solid #cdd5e1;
  padding-bottom: 30px;
}

.dashboard_bottom_data {
  display: flex;
  gap: 3em;
  justify-content: space-between;
  line-height: 0;
  position: relative;
}

.dashboard_bottom_header h5 {
  font-size: 15px;
}

.dashboard_bottom_data h5 {
  color: #6c6c6c;
  font-weight: 600;
}

.dashboard_bottom_data button {
  border: none;
  background-color: transparent;
  color: #6c6c6c;
}

.dashboard_bottom_header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.dashboard_bottom_header small {
  position: absolute;
  top: 50px;
  font-size: xx-small;
}
.dashboard_bottom_header button {
  border: none;
  background-color: transparent;
  color: #80c3fa;
}

.small {
  max-width: 300px;
  height: 30px;
  position: absolute;
  top: -15px;
  font-size: xx-small;
  word-wrap: break-word;
  line-height: 10px;
  color: #6c6c6c;
}

.method {
  max-width: 300px;
  height: 30px;
  position: absolute;
  bottom: -20px;
  font-size: xx-small;
  word-wrap: break-word;
  line-height: 10px;
  color: #6c6c6c;
}
